[submodule "roles/inspircd/files/inspircd-bin"]
	path = roles/inspircd/files/inspircd-bin
	url = https://github.com/collegiumv/inspircd-bin.git
[submodule "roles/spigot"]
	path = roles/spigot
	url = https://github.com/collegiumv/ansible-minecraft
[submodule "library/ansible_ldap"]
	path = library/ansible_ldap
	url = https://github.com/dinoocch/ansible_ldap.git
[submodule "roles/nas/files/znapdragon"]
	path = roles/nas/files/znapdragon
	url = https://github.com/phy1729/znapdragon.git
[submodule "client"]
	path = roles/client
	url = https://github.com/collegiumv/cv_client.git
[submodule "roles/account_site/files/accountService"]
	path = roles/account_site/files/account-services
	url = https://github.com/collegiumv/cv_account.git
