---
- name: Install Printing Packages
  xbps: pkg=cups state=present

- name: Configure Cups as a Client
  copy: src=client.conf dest=/etc/cups/client.conf owner=root group=lp mode=0644

- name: Disable local cups interface
  template: src=cupsd.conf dest=/etc/cups/cupsd.conf owner=root group=lp mode=0644

- name: Install firewall rules
  copy: src=printers.rules dest=/etc/iptables.d/ owner=root group=root mode=0640
  notify:
  - iptables
