###############################################################################
## Global section
###############################################################################

set daemon 60
set logfile /var/log/monit.log
set idfile /var/lib/monit/id
set statefile /var/lib/monit/state
set mailserver localhost
set eventqueue
	basedir /var/lib/monit/events
	slots 100

set alert cvadmins@utdallas.edu not { instance }

set httpd port 2812
	allow localhost
	allow 192.168.42.0/24
	allow phy1729:"{{ monit_passwd | replace('"', '') }}"
	allow CV:CV read-only

###############################################################################
## Services
###############################################################################

check system {{ hostname }}.collegiumv.org
	if loadavg (1min) > 4 then alert
	if loadavg (5min) > 2 then alert
	if memory usage > 75% then alert
	if swap usage > 25% then alert
	if cpu usage (user) > 70% then alert
	if cpu usage (system) > 30% then alert
	if cpu usage (wait) > 20% then alert

check filesystem {{ hostname }}-root with path /dev/sda1
	if failed permission 0660 then alert
	if failed uid root then alert
	if failed gid disk then alert
	if space usage > 80% for 5 times within 15 cycles then alert
	if inode usage > 80% then alert
	group server

include /etc/monit/conf.d/*
