---
# These packages are included in Debian base but are listed to show the dependency explicitly.
- name: Install exim4
  apt: pkg={{ item }} state=present
  with_items:
  - mailutils
  - exim4
- name: Configure firewall
  copy: src=exim4.rules dest=/etc/iptables.d/exim4.rules owner=root group=root mode=0640
  notify:
  - iptables
- name: Configure exim4
  copy: src=exim4.conf dest=/etc/exim4/exim4.conf owner=root group=root mode=0644
  notify:
  - exim4
