#!/bin/sh

# PROVIDE: mkhomes_listener
# REQUIRE: zfs

. /etc/rc.subr

name="mkhomes_listener"
rc_var="mkhomes_listener_enable"
command="/usr/local/sbin/mkhomes_listener"
flags="&"

load_rc_config $name
run_rc_command "$1"
