*filter
:INPUT {{ network_input_policy }} [0:0]
:FORWARD DROP [0:0]
:OUTPUT {{ network_output_policy }} [0:0]
-A INPUT -i lo -j ACCEPT
-A INPUT -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
-A INPUT -p tcp --dport 22 -j ACCEPT
-A OUTPUT -p tcp --dport 22 -j ACCEPT
-A INPUT -p icmp -j ACCEPT

-A OUTPUT -o lo -j ACCEPT
-A OUTPUT -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
-A OUTPUT -p icmp -j ACCEPT

# DNS
{% if network_address_mode=='dhcp' %}
-A OUTPUT -p udp --dport 53 -j ACCEPT
-A OUTPUT -p tcp --dport 53 -j ACCEPT
{% else %}
{% for server in network_dns %}
-A OUTPUT -p udp -d {{ server }} --dport 53 -j ACCEPT
-A OUTPUT -p tcp -d {{ server }} --dport 53 -j ACCEPT
{% endfor %}
{% endif %}

COMMIT
