[Desktop Entry]
Name=Change Password
Comment=Change your password
GenericName=Password Utility
Type=Application
Exec=change-password
Categories=Utility;Application;Preferences;Accessories;
Icon=/usr/share/icons/Adwaita/48x48/status/changes-prevent.png
