
[Desktop Entry]
Type=Application
Name=Screensaver
Comment=Launch screensaver and locker program
Icon=preferences-desktop-screensaver
Exec=xscreensaver -no-splash
TryExec=xscreensaver
