# Minecraft server properties
generator-settings=
op-permission-level=4
allow-nether={{ item.value.allowNether }}
level-name={{ item.value.levelName }}
enable-query={{ item.value.instanceQueryEnabled }}
query.port={{ item.value.instancePort }}
allow-flight=false
announce-player-achievements=true
server-port={{ item.value.instancePort }}
level-type=DEFAULT
enable-rcon=false
force-gamemode=false
level-seed={{ item.value.instanceSeed }}
server-ip=
max-build-height=256
spawn-npcs={{ item.value.spawnNPCs }}
white-list=false
spawn-animals={{ item.value.spawnAnimals }}
snooper-enabled=false
hardcore=false
online-mode=false
resource-pack=
pvp={{ item.value.pvpEnabled }}
difficulty=0
enable-command-block=false
player-idle-timeout=0
gamemode={{ item.value.instanceGamemode }}
max-players={{ item.value.maxPlayers }}
spawn-monsters={{ item.value.spawnMonsters }}
view-distance=10
generate-structures=false
spawn-protection=16
motd={{ item.value.instanceMOTD }}
