# This is the main configuration file for Spigot.
# As you can see, there's tons to configure. Some options may impact gameplay, so use
# with caution, and make sure you know what each option does before configuring.
# For a reference for any variable inside this file, check out the Spigot wiki at
# http://www.spigotmc.org/wiki/spigot-configuration/
#
# If you need help with the configuration or have any questions related to Spigot,
# join us at the IRC or drop by our forums and leave a post.
#
# IRC: #spigot @ irc.esper.net ( http://webchat.esper.net/?channel=spigot )
# Forums: http://www.spigotmc.org/forum/

config-version: 6
commands:
  replace-commands:
  - setblock
  - summon
  - testforblock
  - tellraw
  tab-complete: 0
  silent-commandblock-console: false
  spam-exclusions:
  - /skill
  log: true
settings:
  timeout-time: 60
  restart-on-crash: true
  restart-script: ./start.sh
  netty-threads: 4
  player-shuffle: 0
  late-bind: false
  sample-count: 12
  bungeecord: false
  filter-creative-items: true
messages:
  restart: Server is restarting
  whitelist: You are not whitelisted on this server!
  unknown-command: Unknown command. Type "/help" for help.
  server-full: The server is full!
  outdated-client: Outdated client! Please use {}
  outdated-server: Outdated server! I'm still on {0}
stats:
  disable-saving: false
  forced-stats: {}
world-settings:
  default:
    verbose: true
    anti-xray:
      enabled: {{ xrayEnable }}
      engine-mode: 1
      hide-blocks:
      - 14
      - 15
      - 16
      - 21
      - 48
      - 49
      - 54
      - 56
      - 73
      - 74
      - 82
      - 129
      - 130
      replace-blocks:
      - 1
      - 5
    entity-activation-range:
      animals: 32
      monsters: 32
      misc: 16
    entity-tracking-range:
      players: 48
      animals: 48
      monsters: 48
      misc: 32
      other: 64
    ticks-per:
      hopper-transfer: 8
      hopper-check: 8
    random-light-updates: false
    save-structure-info: true
    max-bulk-chunks: 5
    max-entity-collisions: 8
    dragon-death-sound-radius: 0
    growth:
      cactus-modifier: 100
      cane-modifier: 100
      melon-modifier: 100
      mushroom-modifier: 100
      pumpkin-modifier: 100
      sapling-modifier: 100
      wheat-modifier: 100
    view-distance: 10
    chunks-per-tick: 650
    clear-tick-list: false
    merge-radius:
      exp: 3.0
      item: 2.5
    mob-spawn-range: 4
    nerf-spawner-mobs: false
    arrow-despawn-rate: 1200
    item-despawn-rate: 6000
    enable-zombie-pigmen-portal-spawns: true
    zombie-aggressive-towards-villager: true
    wither-spawn-sound-radius: 0
