auto lo eth0
iface lo inet loopback

allow-hotplug eth0
iface eth0 inet static
{# Since the servers come up with DHCP after installation, this address is in fact well defined #}
        address {{ ansible_eth0.ipv4.address }}
        netmask 255.255.255.0
        gateway 192.168.42.3
	ethernet-wol g
