auto lo {{ interface }}
iface lo inet loopback

allow-hotplug {{ interface }}
iface {{ interface }} inet static
        address {{ ip_address }}
        netmask 255.255.255.0
        gateway 192.168.42.3
	ethernet-wol g
