auto lo {{ interface }}
iface lo inet loopback

{% if ansible_ssh_user == "vagrant" %}
auto eth0
iface eth0 inet dhcp

{% endif %}
allow-hotplug {{ interface }}
iface {{ interface }} inet static
        address {{ ip_address }}
        netmask 255.255.255.0
        gateway 192.168.42.3
        dns-nameservers 192.168.42.3
        dns-search collegiumv.org
	ethernet-wol g
